<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span><b>Note:</b> USD is based on current ETH and DAI prices, not historical prices.<p></span>
    </div>
    <div>
      <span><center><a href="https://twitter.com/richardchen39" class="twitter-follow-button" data-show-count="false">Follow Richard Chen on Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center></span>
    </div>
  </div>
</footer>
