<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nexus Mutual Tracker</title>

  <link href="css/lib/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/lib/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="css/lib/sb-admin.min.css" rel="stylesheet">
  <link href="favicon.ico?v=2" rel="icon">

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.bundle.min.js"></script>
  <script src="js/lib/jquery.easing.min.js"></script>
  <script src="js/lib/plotly.min.js"></script>
  <script src="js/lib/jquery.dataTables.min.js"></script>
  <script src="js/lib/dataTables.bootstrap.min.js"></script>

  <script src="js/script.js"></script>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand mr-1" href="/">Nexus Mutual Tracker</a>
  </nav>

  <div id="wrapper">
    {% block body %}{% endblock %}
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>
