<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nexus Mutual Tracker</title>

  <link href="css/lib/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/lib/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="css/lib/sb-admin.min.css" rel="stylesheet">
  <link href="favicon.ico?v=2" rel="icon">

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.bundle.min.js"></script>
  <script src="js/lib/jquery.easing.min.js"></script>
  <script src="js/lib/plotly.min.js"></script>
  <script src="js/lib/jquery.dataTables.min.js"></script>
  <script src="js/lib/dataTables.bootstrap.min.js"></script>

  <script src="js/script.js"></script>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a href="/"><img src="img/logo.jpg" height="40px" width="40px"></a>
    <a class="navbar-brand mr-1" href="/">Nexus Mutual Tracker</a>

    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" onclick="window.open('https://app.nexusmutual.io/#/SmartContractCover', '_blank')">Buy Cover</button>
        </div>
      </div>
    </form>
  </nav>

  <div id="wrapper">
    {% block body %}{% endblock %}
  </div>

</body>

</html>
