{% extends "_layout.html" %}
{% block body %}

<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-suitcase"></i>
      <span>Covers</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="capital_pool">
      <i class="fas fa-globe"></i>
      <span>Capital Pool</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="staked">
      <i class="fas fa-coins"></i>
      <span>Staked</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="token">
      <i class="fas fa-chart-line"></i>
      <span>NXM Token</span>
    </a>
  </li>
</ul>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        Capital Pool Size
        <span style="float:right;">
          <button id="capital-pool-size-usd">USD</button><button id="capital-pool-size-eth">ETH</button>
        </span>
      </div>
      <div class="card-body">
        <div id="capitalPoolSize"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Capital Pool Distribution
      </div>
      <div class="card-body">
        <div id="capitalPoolDistribution"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        MCR%
      </div>
      <div class="card-body">
        <div id="mcrPercentage"></div>
      </div>
    </div>
  </div>

  {% include '_footer.html' %}
</div>

<script src="js/capital_pool.js"></script>

{% endblock %}
