<!DOCTYPE html>
<html>
  <head>
    <title>Flask Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Active Cover Amount (USD) over Time</h1>
    <div id="coverAmountOverTime"></div>

    <h1>Active Cover Amount (USD) per Contract</h1>
    <div id="coverAmountPerContract"></div>

    <h1>Total Funds Held (USD) over Time</h1>
    <div id="poolSize"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
