<!DOCTYPE html>
<html>
  <head>
    <title>Nexus Mutual Tracker</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Active Cover Amount (USD)</h1>
    <div id="activeCoverAmount"></div>

    <h1>Active Cover Amount (USD) per Contract</h1>
    <div id="activeCoverAmountPerContract"></div>

    <h1>Capital Pool Size (USD)</h1>
    <div id="capitalPoolSize"></div>

    <h1>Capital Pool Distribution</h1>
    <div id="capitalPoolDistribution"></div>

    <h1>MCR%</h1>
    (Ratio between capital pool size and minimum capital requirement)
    <div id="mcrPercentage"></div>

    <h1>NXM Token Price (ETH)</h1>
    <div id="nxmTokenPrice"></div>

    <b>Note:</b> USD is based on current ETH and DAI prices, not historical prices.<p>
    <a href="https://twitter.com/richardchen39" class="twitter-follow-button" data-show-count="false">Follow Richard Chen on Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
