{% extends "_layout.html" %}
{% block body %}

<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-suitcase"></i>
      <span>Covers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="capital_pool">
      <i class="fas fa-globe"></i>
      <span>Capital Pool</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="staking">
      <i class="fas fa-coins"></i>
      <span>Staking</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="token">
      <i class="fas fa-chart-line"></i>
      <span>NXM Token</span>
    </a>
  </li>
</ul>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        Total Amount Staked
        <span style="float:right;">
          <button id="total-amount-staked-usd">USD</button><button id="total-amount-staked-nxm">NXM</button>
        </span>
      </div>
      <div class="card-body">
        <div id="totalAmountStaked"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Amount Staked per Contract
        <span style="float:right;">
          <button id="amount-staked-per-contract-usd">USD</button><button id="amount-staked-per-contract-nxm">NXM</button>
        </span>
      </div>
      <div class="card-body">
        <div id="amountStakedPerContract"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Percent NXM Supply Staked
      </div>
      <div class="card-body">
        <div id="percentNxmSupplyStaked"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Total Staking Reward
        <span style="float:right;">
          <button id="total-staking-reward-usd">USD</button><button id="total-staking-reward-nxm">NXM</button>
        </span>
      </div>
      <div class="card-body">
        <div id="totalStakingReward"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Staking Reward per Contract
        <span style="float:right;">
          <button id="staking-reward-per-contract-usd">USD</button><button id="staking-reward-per-contract-nxm">NXM</button>
        </span>
      </div>
      <div class="card-body">
        <div id="stakingRewardPerContract"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        All Stakes
        <span style="float:right;">
          <button id="all-stakes-usd">USD</button><button id="all-stakes-nxm">NXM</button>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="stakeDataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Smart Contract</th>
                <th>Address</th>
                <th>Amount Staked</th>
                <th>Start Date</th>
                <th>Expiration Date</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include '_footer.html' %}
</div>

<script src="js/staking.js"></script>

{% endblock %}
