{% extends "_layout.html" %}
{% block body %}

<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-suitcase"></i>
      <span>Covers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="claims">
      <i class="fas fa-ticket-alt"></i>
      <span>Claims</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="capital_pool">
      <i class="fas fa-globe"></i>
      <span>Capital Pool</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="staking">
      <i class="fas fa-coins"></i>
      <span>Staking</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="token">
      <i class="fas fa-chart-line"></i>
      <span>NXM Token</span>
    </a>
  </li>
</ul>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="card mb-4">
          <div class="card-header">Total Amount Staked</div>
          <div class="card-body"><h2 id="currentTotalAmountStaked"></h2></div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="card mb-4">
          <div class="card-header">Total Staking Reward</div>
          <div class="card-body"><h2 id="currentTotalStakingReward"></h2></div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Total Amount Staked
        <span style="float:right;">
          <button id="total-amount-staked-usd">USD</button><button id="total-amount-staked-nxm">NXM</button>
          <a href="download/total_amount_staked"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div id="totalAmountStaked"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Amount Staked per Contract
        <span style="float:right;">
          <button id="amount-staked-per-contract-usd">USD</button><button id="amount-staked-per-contract-nxm">NXM</button>
          <a href="download/amount_staked_per_contract"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div id="amountStakedPerContract"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Top Stakers
        <span style="float:right;">
          <button id="top-stakers-usd">USD</button><button id="top-stakers-nxm">NXM</button>
          <a href="download/top_stakers"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div id="topStakers"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Total Staking Reward
        <span style="float:right;">
          <button id="total-staking-reward-usd">USD</button><button id="total-staking-reward-nxm">NXM</button>
          <a href="download/total_staking_reward"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div id="totalStakingReward"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Staking Reward per Contract
        <span style="float:right;">
          <button id="staking-reward-per-contract-usd">USD</button><button id="staking-reward-per-contract-nxm">NXM</button>
          <a href="download/staking_reward_per_contract"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div id="stakingRewardPerContract"></div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        All Stakes
        <span style="float:right;">
          <button id="all-stakes-usd">USD</button><button id="all-stakes-nxm">NXM</button>
          <a href="download/all_stakes"><button><i class="fas fa-file-csv"></i></button></a>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="stakeDataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Smart Contract</th>
                <th>Address</th>
                <th>Total Reward *</th>
                <th>Total Staked *</th>
                <th>Estimated Yield (APY) **</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>* Total Reward and Total Staked are calculated since pooled staking launched.
        <br>** Estimated Yield normalizes historical staking rewards by cover durations. The normalized rewards are annualized and divided by the current total staked.
        <br>*** To calculate your leverage add up the estimated yields for the contracts you stake on.
      </div>
    </div>
  </div>

  {% include '_footer.html' %}
</div>

<script src="js/staking.js"></script>

{% endblock %}
